<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Creating Inventory Video Creation</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='vpc-creation.css') }}"
    />
  </head>
  <body>
    <div class="home-button-container">
      <a href="{{ url_for('home') }}" class="home-button">Home</a>
    </div>
    <div class="container">
      <div class="content-wrapper">
        <!-- Video Box -->
        <div class="video-box">
          <h2>Creating Inventory file Video</h2>
          <iframe
            src="https://www.youtube.com/embed/rm7uNG7B6hM"
            title="Terraform Private Subnet Creation Video"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen
          ></iframe>

          <!-- Button Container -->
          <div class="button-container">
            <div class="button">
              <a href="{{ url_for('instance_master_worker_creation') }}" class="previous-button"
                >Previous</a
              >
              <div class="vpc-provider">Adding Tags Creation</div>
            </div>
            <div class="button">
              <a href="{{ url_for('terraform_null_provisioner') }}" class="next-button"
                >Next</a
              >
              <div class="vpc-creation">Changes In Inventory</div>
            </div>
          </div>
        </div>

        <!-- Code Box -->
        <div class="code-box">
          <h2>Creating Inventory Code</h2>
          <pre><code>

[k8s_node:children]
controlplane
node
local



[k8s_worker_node:children]
node

[controlplane]

[local]


[node]


[nfs-server]
</code></pre>
        </div>
      </div>
    </div>
  </body>
</html>
