<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>EKS Node Group Creation Video</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='vpc-creation.css') }}"
    />
  </head>
  <body>
    <div class="home-button-container">
      <a href="{{ url_for('home') }}" class="home-button">Home</a>
    </div>
    <div class="container">
      <div class="content-wrapper">
        <!-- Video Box -->
        <div class="video-box">
          <h2>EKS Node Group Creation Video</h2>
          <iframe
            src="https://www.youtube.com/embed/pzKoLtYA8CI"
            title="EKS Cluster Creation Video"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen
          ></iframe>

          <!-- Button Container -->
          <div class="button-container">
            <div class="button">
              <a href="{{ url_for('eks_cluster_creation') }}" class="previous-button"
                >Previous</a
              >
              <div class="vpc-provider">EKS Cluster Creation</div>
            </div>
            <div class="button">
              <a href="{{ url_for('eks_bastion_creation') }}" class="next-button"
                >Next</a
              >
              <div class="vpc-creation">EKS Bastion Creation</div>
            </div>
          </div>
        </div>

        <!-- Code Box -->
        <div class="code-box">
          <h2>EKS  Node Group Creation  Code</h2>
          <pre><code>
resource "aws_eks_node_group" "eks_node_group" {
  cluster_name    = aws_eks_cluster.eks_cluster.name
  node_group_name = "eks-node-group"
  node_role_arn   = aws_iam_role.eks_nodegroup_role.arn
  subnet_ids      = aws_subnet.eks_private_subnet[*].id

  remote_access {
    ec2_ssh_key = "testing-dev-1"
  }
  scaling_config {
    desired_size = 1
    max_size     = 1
    min_size     = 1
  }
  instance_types = ["t2.medium"]

  tags = {
    Name       = "eks-private-1"
    Enviroment = "Dev"
  }

  update_config {
    max_unavailable = 1

  }

  depends_on = [
    aws_iam_role_policy_attachment.eks-AmazonEKSWorkerNodePolicy,
    aws_iam_role_policy_attachment.eks-AmazonEKS_CNI_Policy,
    aws_iam_role_policy_attachment.eks-AmazonEC2ContainerRegistryReadOnly
  ]
}

</code></pre>
        </div>
      </div>
    </div>
  </body>
</html>
