<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>EKS IAM Role Node group Video</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='vpc-creation.css') }}"
    />
  </head>
  <body>
    <div class="home-button-container">
      <a href="{{ url_for('home') }}" class="home-button">Home</a>
    </div>
    <div class="container">
      <div class="content-wrapper">
        <!-- Video Box -->
        <div class="video-box">
          <h2>IAM Role Node Group Video</h2>
          <iframe
            src="https://www.youtube.com/embed/J_JUBzPPXRY"
            title="IAM Role Nodegroup  Video"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen
          ></iframe>

          <!-- Button Container -->
          <div class="button-container">
            <div class="button">
              <a
                href="{{ url_for('iam_role_cluster') }}"
                class="previous-button"
                >Previous</a
              >
              <div class="vpc-provider">EKS Cluster-IAM role</div>
            </div>
            <div class="button">
              <a
                href="{{ url_for('eks_cluster_creation') }}"
                class="next-button"
                >Next</a
              >
              <div class="vpc-creation">EKS Cluster Creation</div>
            </div>
          </div>
        </div>

        <!-- Code Box -->
        <div class="code-box">
          <h2>EKS IAM Role Nodegroup Code</h2>
          <pre><code>
resource "aws_iam_role" "eks_nodegroup_role" {
  name = "eks_nodegroup_role"

  assume_role_policy = <<POLICY
{
  "Version": "2012-10-17",
  "Statement": [
    {
      "Effect": "Allow",
      "Principal": {
        "Service": "ec2.amazonaws.com"
      },
      "Action": "sts:AssumeRole"
    }
  ]
}
POLICY
}

resource "aws_iam_role_policy_attachment" "eks-AmazonEKSWorkerNodePolicy" {
  policy_arn = "arn:aws:iam::aws:policy/AmazonEKSWorkerNodePolicy"
  role       = aws_iam_role.eks_nodegroup_role.name
}

resource "aws_iam_role_policy_attachment" "eks-AmazonEKS_CNI_Policy" {
  policy_arn = "arn:aws:iam::aws:policy/AmazonEKS_CNI_Policy"
  role       = aws_iam_role.eks_nodegroup_role.name
}

resource "aws_iam_role_policy_attachment" "eks-AmazonEC2ContainerRegistryReadOnly" {
  role       = aws_iam_role.eks_nodegroup_role.name
  policy_arn = "arn:aws:iam::aws:policy/AmazonEC2ContainerRegistryReadOnly"
}

</code></pre>
        </div>
      </div>
    </div>
  </body>
</html>
