<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Terraform VPC Creation</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='vpc-creation.css') }}"
    />
  </head>
  <body>
    <div class="home-button-container">
      <a href="{{ url_for('home') }}" class="home-button">Home</a>
    </div>
    <div class="container">
      <div class="content-wrapper">
        <!-- Video Box -->
        <div class="video-box">
          <h2>Terraform Public Route Creation Video</h2>
          <iframe
            src="https://www.youtube.com/embed/vd-uCYtHbM0"
            title="Terraform VPC Video"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen
          ></iframe>

          <!-- Button Container -->
          <div class="button-container">
            <div class="button">
              <a href="{{ url_for('public_subnet') }}" class="previous-button"
                >Previous</a
              >
              <div class="vpc-provider">Public Subnet Creation</div>
            </div>
            <div class="button">
              <a href="{{ url_for('private_subnet') }}" class="next-button"
                >Next</a
              >
              <div class="vpc-creation">Private Subnet Creation</div>
            </div>
          </div>
        </div>

        <!-- Code Box -->
        <div class="code-box">
          <h2>Terraform Public Route Creation Code</h2>
          <pre><code>
    resource "aws_route_table" "dev_public_rt" {
      vpc_id = aws_vpc.dev_vpc.id
      tags = {
        Name = "dev_public_rt"
      }
    }
    
    resource "aws_route" "dev_route_1" {
      route_table_id         = aws_route_table.dev_public_rt.id
      destination_cidr_block = "0.0.0.0/0"
      gateway_id             = aws_internet_gateway.dev_public_igw.id
    }
    
    resource "aws_route_table_association" "dev_public_route_1" {
      subnet_id      = aws_subnet.dev_subnet_public_1.id
      route_table_id = aws_route_table.dev_public_rt.id
    }
</code></pre>
        </div>
      </div>
    </div>
  </body>
</html>
