<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Terraform VPC Creation</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='vpc-creation.css') }}"
    />
  </head>
  <body>
    <div class="home-button-container">
      <a href="{{ url_for('home') }}" class="home-button">Home</a>
    </div>
    <div class="container">
      <div class="content-wrapper">
        <!-- Video Box -->
        <div class="video-box">
          <h2>Terraform VPC Creation Video</h2>
          <iframe
            src="https://www.youtube.com/embed/deybyJ-POIc"
            title="Terraform VPC Video"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen
          ></iframe>

          <!-- Button Container -->
          <div class="button-container">
            <div class="button">
              <a href="{{ url_for('vpc_provider') }}" class="previous-button"
                >Previous</a
              >
              <div class="vpc-provider">VPC Provider</div>
            </div>
            <div class="button">
              <a href="{{ url_for('public_subnet') }}" class="next-button"
                >Next</a
              >
              <div class="vpc-creation">Public subnet Creation</div>
            </div>
          </div>
        </div>

        <!-- Code Box -->
        <div class="code-box">
          <h2>Terraform vpc-creation Code</h2>
          <pre><code>
resource "aws_vpc" "dev_vpc" {
  cidr_block = "10.20.0.0/16"
    
  tags = {
    Name = "dev_vpc"
  }
}

resource "aws_internet_gateway" "dev_public_igw" {
  vpc_id = aws_vpc.dev_vpc.id
  tags = {
    Name = "dev_public_igw"
  }
}
</code></pre>
        </div>
      </div>
    </div>
  </body>
</html>
